html {
    font-size: 22px
}

body {
    color: white;
    background-color: rgba(55, 45, 158, 0.911);
    overflow-y: hidden;
    overflow-x: hidden;
    font-family: cursive;
}

a, a:visited, a:active {
    color: white;
    font-family: cursive;
    text-shadow: 2px 2px 8px #ffffff;
}

table, th, td, caption{
    border: 1px solid white;
    border-collapse: collapse;
    font-family: cursive;
    text-shadow: 2px 2px 8px black;
}

.button {
    position: fixed;
    color:white;
    font-size: 35px;
    font-family: cursive;
    cursor: pointer;
    border: 2px solid black;
    text-shadow: 2px 2px 8px #b69ff5;
    border-radius: 5%;
    z-index: 99;
}

.deco {
    position: fixed;
    z-index: 1;
}

.warning {
    position: fixed;
    background: rgba(0, 0, 0, 0.849);
    border: 5px solid white;
    border-radius: 10%;
    text-align: center;
    padding-top: 10px;
    color: white;
    text-shadow: 2px 2px 8px #b69ff5;
    font-size: 32px;
    font-family: cursive;
    z-index: 100;
}

.page {
    position: fixed;
    background: rgba(54, 45, 158, 0);
    border: 5px solid rgba(255, 255, 255, 0);
    border-radius: 0%;
    text-align: left;
    color: white;
    font-size: 22px;
    font-family: cursive;
    z-index: 99;
}

.invsscroll::-webkit-scrollbar {
    display: none;

}

.bgimg {
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
}
